* {
  margin: 0%;
  padding: 0%;
}

.app {
  min-height: 100vh;
  background-color: #8f79f3;
  color: white;
  padding: 15vh 0 5vh;
}

@media (max-width: 700px) {
  .app {
    padding: 15.3vw 0 3vh;
  }
}
